<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="car-content">
                    <!-- <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)"> -->
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" name="name" placeholder="Enter you Name" >
                                <!-- #name="ngModel" [(ngModel)]="employessService.selecterdEmployee.name"  -->                                
                            </div>
                        </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</div>