
<div class="container">
    <h1>Listado de Helados</h1>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="text" class="form-control" name="filterPost" placeholder="Search..." [(ngModel)]="filterPost">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th width="50" >Imagen</th>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Descripción</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let photo of photos | filter:filterPost">
              <td><img [src]="'http://localhost:4000/' + photo.imagePath" class="img-card-top w-100" ></td>
              <td>{{photo.title}}</td>
              <td>$ {{photo.price}}</td>
              <td>{{photo.availability}}</td>
              <td>{{photo.description}}</td>
              <td>
                <a (click)="selectedCard(photo._id)" class="btn btn-secondary btn-sm">
                  <i class="material-icons">Editar</i>
                </a>
                <a (click)="deletePhoto(photo._id)" class="btn btn-danger btn-sm">
                  <i class="material-icons">Eliminar</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>