#cuerpo{
    color: black;
    background:#ffffff url(img/hojas.jpg) top  no-repeat fixed;    
}
#base{
    background:#ffffff url(img/rojo.jpg) top  no-repeat fixed;  
}

#paginaTotal{
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;    
}
#titulo{
    background: green;
    width: 200px;
}

#idbutton{
    color: white;
    background-color: green;
    width: 90px;
    height:40px;
}
#arriba{
    background-color: darkblue;
    text-align: left;
}
#arriba h4{
    text-align: right;
}



.clockdate-wrapper {
    background-color: #333;
    padding:5px;
    max-width:350px;
    width:100%;
    text-align:center;
    border-radius:5px;
    margin:0 auto;
    margin-top:10px;
    margin-bottom: 5px;
}
#clock{
    background-color:#333;
    font-family: sans-serif;
    font-size:50px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:20px;
    position:relative;
    top:-27px;
    left:-10px;
}



/* slice de talba de json */

#panel {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
    padding: 50px;
    display: none;
  }


/* boton flotante */
#flotante {
    display:scroll;
    position:fixed;
    bottom:320px;
    left: 0px;
}

/* acordion  */
#accordion-1{font-size: 14px; 
}

#accionAcordion{
    display: none;
}



/* //solidcolor */

#uno {
    background-color: red;
    height: 300px;
  }
  #dos {
    background-color: steelblue;
    height: 300px;
  }
  @keyframes color{
    from {
      background-color: tomato;
    }
    to {
      background-color: orange;
    }
  }