
<footer class="footer-distributed">

			<div class="footer-left">
                <div class="text-center">
                    <h3>Heladeria</h3>
                    <img src="../../../assets/helado.png" alt="" width="90">	
                    <p class="footer-company-name">Heladeria © 2020</p>
                </div>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Desarrllado por</span> Patrick Cabezas</p>
				</div>			

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="https://github.com/PatrickC96">github.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>

				<div class="footer-icons">

					<a ><i class="fa fa-facebook"> <img src="../../../assets/facebook_icon-icons.com_53612.png" alt="" width="37"></i></a>
					<a ><i class="fa fa-twitter"> <img src="../../../assets/linkedin_icon-icons.com_53609.png" alt="" width="37"></i></a>
					<a ><i class="fa fa-linkedin"> <img src="../../../assets/whatsapp_icon-icons.com_53606.png" alt="" width="37"></i></a>
					<a ><i class="fa fa-github"> <img src="../../../assets/youtube_icon-icons.com_53607.png" alt="" width="37"></i></a>

				</div>

			</div>

		</footer>